[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pye3dc = "*"
jsonrpcx = "*"
gunicorn = "*"
charset-normalizer = "*"

[dev-packages]

[requires]
python_version = "3.11"
